.label-formatada{
    font-size: 20px;
    font-weight: 500;
}

.label-value{
    font-size: 20px;
    font-weight: 600;
}

input.label-disponível{
    font-size: 20px;
    font-weight: 600;
    text-align: justify !important;
}

.icon-saldo{
    color: #DB802D;
    font-size: 20px;
    margin-right: 13px;
}

.veja-tela {
    font-size: 17px;
}

.btn-link {
    text-align: center;
    padding: 31px 0 0px 0px;
    border: 1px solid black;
    border-radius: .1875rem;
    margin: 0 0;
    min-height: 84px;
    font-weight: 600;
}

span{
    margin-left: 0px;
    display: flex;
    margin-top: 6px;
}

.btn-link a{
    font-size: 22px;
    font-weight: 600;
    color: #DB802D;
    cursor: pointer;
}

.btn-link-saque-poupanca {
    text-align: center;
    padding: 31px 0 0px 0px;
    border: 1px solid black;
    border-radius: .1875rem;
    margin: 0 0;
    min-height: 84px;
    font-weight: 600;
    background-color: #DB802D;
}

.btn-saque-poupanca a{
    font-size: 15px;
    font-weight: 600;
    color: #ffff;
}

.card-body.card-valor{
    margin-bottom: -22px;
    text-align: center;
}

.btn-outro-valor a{
    color: black;
}

.card-body .row{
    margin-bottom: 21px;
}

ul {
    display: flex;
    list-style: none;
    margin: 6px;
    padding: 3px;
}

ul > li {
    margin-inline-end: inherit;
}